/* Add these styles to your existing style.css */

.banner-overlay {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -160%);
  text-align: center;
  color: #fff;
}

.banner-overlay h1 {
  font-size: 2.5em;
  margin-bottom: 0px;
}

.banner-overlay button {
  font-size: 1.2em;
  padding: 10px 20px;
}
.animon-banner-elements {
}
.bodyp-text {
  background-color: crimson;
  border-radius: 10%;
}
.marquee-wrapper {
  position: relative;
  display: flex;
  overflow: hidden;
  gap: 1rem;
  border-radius: 1rem;
}
.marquee-wrapper .marquee-content {
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 1rem;
  cursor: grab;
}
.marquee-wrapper .marquee-content .card-testimonial {
  max-width: 500px;
  background-color: #333;
  padding: 1rem;
  border-radius: 1rem;
  color: #f5f5f5;
}
.marquee-wrapper .marquee-content .card-testimonial article picture {
  position: relative;
  min-width: 200px;
}
.marquee-wrapper .marquee-content .card-testimonial article picture img {
  width: 100%;
  height: 340px;
  border-radius: 0.5rem;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 15%;
  object-position: 50% 15%;
}
.marquee-wrapper .marquee-content .card-testimonial article h4 {
  font-size: 20px;
  text-transform: capitalize;
  margin-block: 1rem;
}
.marquee-wrapper
  .marquee-content
  .card-testimonial
  article
  article.short-description
  p {
  font-family: var(--ff-heading);
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 1.2rem;
}
@media (max-width: 1024px) {
  .marquee-wrapper {
    overflow: auto;
  }
}
.scrollingX {
  animation: scroll 45s linear infinite;
}
.marquee-wrapper:hover .scrollingX {
  animation-play-state: paused;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 1rem));
  }
}

/* CSS */
.button-banner {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1a1a1a;
  border-radius: 15px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button-banner:disabled {
  pointer-events: none;
}

.button-banner:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-banner:active {
  box-shadow: none;
  transform: translateY(0);
}
